<div class="position-relative">
    <div class="position-absolute w-100  nav-bar-top">
        <div class="w-100 d-flex justify-content-between align-items-center">
            <div class="app-icon-header pt-1 ml-3 dx-font-l">E-Leaning</div>
            <div class="nav-ul-item">
                <!-- item các mục ở đây -->
            </div>
            <div class="user-panel mr-3 cursor-hovered xterm-cursor-pointer" (click)="changeOptionContext()">
                <div class="user-info">
                    <div class="image-container">
                        <div class="user-image"></div>
                    </div>
                    <div class="user-name">Nguyễn Thu Hà</div>
                </div>

            </div>
            
        </div>
    </div>
</div>