/* -----------------------------------*/
/* --->>> HTML 5 Element <<<----------*/
/* -----------------------------------*/
$audio-canvas-video: false; // True | False


/* -----------------------------------*/
/* --->>> Fonts          <<<----------*/
/* -----------------------------------*/

//** Global
$link-hover-decoration:	underline !default;

/* -----------------------------------*/
/* --->>> Prefix  Padding and Margin      <<<----------*/
/* -----------------------------------*/
$page-offset:		5px;

/* -----------------------------------*/
/* --->>> Responsive     <<<----------*/
/* -----------------------------------*/
$screen-small:			768px;
$screen-Medium:			992px;
$screen-large:			1200px;


/* -----------------------------------*/
/* --->>> Next IT Custom Control     <<<----------*/
/* -----------------------------------*/
$element-height:32px;
$element-border-radius:3px;
$element-pading-left-button:16px;
$element-pading-right-button:16px;