
  //** Color Comoon
  // -----------------------------
  $color-white:#ffffff;
  //** Color Grid
  // -----------------------------
  $bg-color-grid-alt-row:#f5f5f5;
  $bg-color-grid-selected-row:#E3F2FD;
  $bg-color-grid-header-row:$color-white;
  $bg-color-grid:#e0e0e0;


